/*solo codigo css*/
h1 {
    color: green;
}

/*SELECTORES*/
/*selector universal*/
*{
    font-size: 16px;
}

body {
    /*background-color: black;color de fondo*/
    /*background: url();*/
    color:white;/*color a los textos*/
    text-align: center;/*centrar el texto*/
}
/*tipo*/
h2 {
    font-size: 35px ; /*tamaño de fuente*/
    text-transform: uppercase; /*mayuscula*/
}

#cv_img {
    border-radius: 50%;/*circulo, u utra forma!!*/
    width: 20%; /*ancho*/
}

/*SELECTORES POR ID*/
/*por id, llevan un # delante del nombre*/
#foto {
    background-color: rgb(221, 210, 196);
    color:rgb(1, 37, 37)
}

/*SELECTORES DE CLASE*/
.cv_cursos {
    text-transform: capitalize;
    text-align: left;
    font-size: 20px;
}
#cv_curso_img {
    width: 20%;
}
img.cv_curso_img_left {
    width: 50%;
}

#cv_curso_info {
    background-color: white;
    color: rgb(5, 5, 87);    
}

#cv_curso_info h3 {
    font-size: 20px;
}
#cv_curso_info p {
    font-size: 15px;
}


/*TP INTEGRADOR FRONT END*/
.fit-cover {
    object-fit: cover;
  }
  
  img {
    width: 110px;
  }
  
  #container-footer a {
    max-width: 100px;
  }
  
  .navbar {
    background: #353a40;
  }
  
  #container-custom {
    background: #353a40;
  }
  
  footer {
    background-image: linear-gradient(to right, #1c3643, #1e5372);
  }
  
  .oscuro {
    background: rgba(0, 0, 0, 0.6);
  }
  
  #boton-enviar {
    background: #96c93e;
    border: none;
  }
  
  .underline{
    text-decoration:underline dotted;
  }